{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block content %}




<!-- //Domain modal -->
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About Us</li>
        </ul>
    </div>
</section>
<!--  Intro video popup section -->
<section class="w3l-about1 py-5" id="intro">
    <div class="new-block top-bottom py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">who we are</h6>
                <h3 class="title-big">About us</h3>
            </div>
            <div class="row mt-lg-5 mt-4">
                <div class="col-md-3 left-section">
                </div>
                <div class="col-md-6 middle-section text-center align-self">
                    <div class="section-width mb-lg-4 py-4">
                        <h2>{{aboutdetail.title}}</h2>
                        <p class="mt-4">{{aboutdetail.detail|linebreaks}}</p>
                    </div>
           

                 
                </div>
                <div class="col-md-3 right-section mt-md-0 mt-4">
                </div>
            </div>
        </div>
    </div>
</section>
<!--  //Intro video popup section -->
<!--  form-12 -->
<section class="w3l-form-12">
    <div class="form-12-content py-5" id="services">
        <div class="container py-lg-5 py-md-4">
            <div class="row">
                <div class="col-lg-4 column1 align-self">
                    <h4>{{subabout.title}}</h4>
                    <p>{{subabout.detail|linebreaks}}</p>
                </div>
                <div class="col-lg-8 column2 mt-lg-0 mt-sm-5 mt-4">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-6">
                            <a href="services.html">
                                <div class="courses-item">
                                    <img src="{% static 'clientstatic/images/pizza.png' %}" alt="">
                                    <p>Pizza</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6">
                            <a href="services.html">
                                <div class="courses-item">
                                    <img src="{% static 'clientstatic/images/burger.png' %}" alt="">
                                    <p>Burger</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item">
                                    <img src="{% static 'clientstatic/images/fries.png' %}" alt="">
                                    <p>French fries</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item">
                                    <img src="{% static 'clientstatic/images/drink.png' %}" alt="">
                                    <p>Cool drink</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <img src="{% static 'clientstatic/images/burger.png' %}" alt="">
                                    <p>Smoked burger</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <img src="{% static 'clientstatic/images/fries.png' %}" alt="">
                                    <p>Mozzarella</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <img src="{% static 'clientstatic/images/pizza.png' %}" alt="">
                                    <p>Pizza</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
                            <a href="services.html">
                                <div class="courses-item mt-2">
                                    <img src="{% static 'clientstatic/images/drink.png' %}" alt="">
                                    <p>sandwich</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // form-12 -->
<!-- team -->
<section class="w3l-team" id="team">
  <div class="team-block py-5">
    <div class="container py-lg-5">
        <div class="title-content text-center">
            <h6 class="sub-title">Our team</h6>
            <h3 class="title-big">Behind the taste</h3>
        </div>
      <div class="row">
       

        {% for team in teamlist %}
        <div class="col-lg-3 col-sm-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img style="height:20rem;" src="{{team.image.url}}" alt="" class=" team img-fluid radius-image" /></a>
            <div class="box-content">
              <h3 class="title"><a href="#url">{{team.name}}</a></h3>
              <span class="post">{{team.post}}</span>
              <ul class="social">
                {% if team.facebook %}
                <li>
                  <a href="{{team.facebook}}" class="facebook" target="_blank">
                    <span class="fa fa-facebook-f"></span>
                  </a>
                </li>
                {% endif %}
                {% if team.twitter %}
                <li>
                  <a href="{{team.twitter}}" class="twitter" target="_blank">
                    <span class="fa fa-twitter"></span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</section>
<!-- //team -->



<!-- features -->
<section class="w3l-reasons py-5 reason-background" >
    <div class="main-w3 py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">we are the best</h6>
                <h3 class="title-big text-capitalize">4 reasons to Choose us</h3>
            </div>
            <div class="row main-cont-wthree-fea mt-5 text-center">

              {% for reason in reason_to_choose %}
                <div class="col-lg-3 col-sm-6 grids-feature">
                    <a class="icon"><img style="width: 4rem; height: 4rem; border-radius: 50%;" src="{{reason.image.url}}" alt=""></a>
                    <h4><a href="#feature" class="title-head">{{reason.title}}</a></h4>
                    <p>{{reason.few_line}}</p>
                </div>

              {% endfor %}

            </div>
        </div>
    </div>
</section>
<!-- //features -->




{% endblock %}