{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block content %}
<section class="w3l-banner" id="banner">
    <div class="new-block py-5">
        <div class="container">
            <div class="row middle-section">
                <div class="col-lg-7 section-width align-self">
                    <h5>{{bannerdetailview.slogon}}</h5>
                    <h2>{{bannerdetailview.some_text}}</h2>
                    <a href="/order/" class="btn btn-secondary btn-outline-style mt-md-5 mt-4"> 
                        <span class="fa fa-shopping-cart mr-2"></span> Order Online</a>
                </div>
                <div class="col-lg-5 history-info mt-lg-0 mt-5 pt-lg-0 pt-md-4 banner-image">
                    <img src="{{bannerdetailview.image.url}}" class="img-fluid" alt="image">
                    {% if bannerdetailview.price %}
                    <div class="cost">
                        <h5>Only</h5>
                        <h3>{{bannerdetailview.price}}</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</section>






<!-- iphone home block -->
<section class="w3l-about py-5 reason-background">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6">
                <h3>{{subabout.title}}</h3>
                <h5 class="mt-lg-3 mt-2">your satisfaction is our success</h5>
                <p class="mt-sm-4 mt-3 mb-sm-0 mb-2">{{subabout.detail|linebreaks}}</p>
                <a href="{% url 'restroapp:aboutdetail' aboutdetail.id %}" class="btn-style btn-primary btn mt-lg-5 mt-4">Know more about us</a>
            </div>


            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="row">

                    {% for reason in reason_to_choose %}
                    <div class="col-6 features-with-17-left1 " style="margin-bottom: 50px">
                        <a href="#url" class="icon"><img style="width: 4rem; height: 4rem; border-radius: 50%;" src="{{reason.image.url}}" alt="" /></a>
                        <h4><a href="#url">{{reason.title}}</a></h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>



<section class="w3l-portfolio-8 py-5 ">
    <div class="portfolio-main py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">Gallery</h6>
                <h3 class="title-big">Some Specials Captures</h3>
            </div>
            <div class="row galler-top mt-lg-5 mt-4">
                {% for gallery in gallerylist %}
                {% if forloop.counter <= 4 %}
                <div class="col-md-3 col-6 protfolio-item hover14 align-self">
                    <a href="{{gallery.image.url}}" data-lightbox="example-set"
                    data-title="{{gallery.title}}">
                            <figure>
                                <img src="{{gallery.image.url}}" alt="product" class="img-fluid radius-image gallery">
                            </figure>
                    </a>
                </div>
                

                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
                <div class="text-center">
                    <a href="{% url 'restroapp:gallerylist' %}" >see more</a>
                </div>
</section>
<section class="w3l-food" id="food">
    <div class="foods1 py-5 reason-background">
        <div class="container py-lg-5 py-md-4">
            <div class="title-content text-center">
                <h6 class="sub-title">Special Combo</h6>
                <h3 class="title-big">Our Special</h3>
            </div>
            <div class="foods1-content mt-lg-5 mt-4 mb-sm-0 mb-4">
                <div class="owl-carousel owl-theme text-center">

                    {% for special in ourspecial %}
                    <div class="item">
                        <div class="d-grid food-info">
                            <div class="column">
                                <h4 class="name-pos"><a>{{special.food_name}}</a></h4>
                                <p>{{special.combo}}</p>
                                <h5>{{special.price}}</h5>
                                <a href="/order/" class="btn-style btn-primary btn mt-4">Order Online</a>
                                <a href="#url"><img src="{{special.image.url}}" alt="" class="img-fluid radius-image mt-4"/></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</section>

<!--/testimonials-->
	<section class="w3l-testimonials" id="testimonials">
		<div class="testimonials py-5">
			<div class="container py-lg-5 py-md-4">
				<div class="title-content text-center">
					<h6 class="sub-title">Testimonials</h6>
					<h3 class="title-big">What our Customer say</h3>
				</div>
				<div class="row mt-lg-5 mt-4">
					<div class="col-md-12 mx-auto">
						<div class="owl-two owl-carousel owl-theme">

                            {% for voice in clientvoice %}
							<div class="item">
								<div class="slider-info">
									<div class="message">
                                        <span class="fa fa-quote-left"></span>
										<h5>{{voice.voice}}</h5>
										<div class="name mt-4">
											<h4>{{voice.name}}</h4>
											<p>{{voice.post_company}}</p>
										</div>
									</div>
									<div class="img-circle">
										<img style=" height:20rem;" src="{{voice.image.url}}" class="img-fluid testimonial-img radius-image" alt="client">
									</div>
								</div>
							</div>

                            {% endfor %}


						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//testimonials-->



	{% endblock %}