{% extends 'clienttemplates/clientbase.html' %}

{% block content %}





<!-- //Domain modal -->
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Contact</li>
        </ul>
    </div>
</section>
<section class="w3l-contact-11 py-5">
    <div class="contacts-main py-lg-5 py-md-4">
      <div class="contant11-top-bg">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">Contact</h6>
                <h3 class="title-big">Get in touch with us</h3>
            </div>

            {% for contactpage in contact %}
            {% if forloop.counter == 1 %}
          <div class="d-grid contact section-gap mt-lg-5 mt-4">
            <div class="contact-info-left d-grid text-center">
              <div class="contact-info">
                <span class="fa fa-map-marker" aria-hidden="true"></span>
                <h4>Get Directions</h4>
                <p>{{contactpage.address}}</p>
              </div>
              <div class="contact-info">
                <span class="fa fa-phone" aria-hidden="true"></span>
                <h4>Contact Us</h4>
                <p><a href="{{contact.phone}}">{{contactpage.phone}}</a></p>
                <p><a href="{{contact.email}}" class="email">{{contactpage.email}}</a></p>
              </div>
              <div class="contact-info">
                <span class="fa fa-clock-o" aria-hidden="true"></span>
                <h4>Opening Hours</h4>
                <p>{{contactpage.open_day}}</p>
                 <p> {{contactpage.open_time}}</p>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}

        </div>
      </div>
      <div class="form-41-mian section-gap mt-5">
        <div class="container">
          <div class="d-grid align-form-map">
            <div class="form-inner-cont">
              <form method="POST" class="signin-form" >
                {% csrf_token %}
                <div class="form-input">
                  <label for="w3lName">Name</label>
                  {{form.name}}
                </div>
                <div class="form-input">
                  <label for="w3lSender">Email(Required)*</label>
                  {{form.email}}
                </div>
                <div class="form-input">
                  <label for="w3lMessage">Message(Required)*</label>
                  {{form.message}}
                </div>
                <div>
                  <button type="submit" class="btn btn-style btn-primary">Send</button>
                </div>
              </form>
            </div>


            <div class="map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7063.526750588673!2d85.29697098011779!3d27.724591306399798!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb18e488831e0d%3A0x221c6288391c5ee4!2z4KS44KS_4KSX4KWN4KSu4KS-IOCkleCksuClh-CknA!5e0!3m2!1sne!2snp!4v1596529315320!5m2!1sne!2snp"
                frameborder="0" allowfullscreen="">
              </iframe>

            </div>
          </div>
        </div>
      </div>
  </section>

{% endblock %}