{% extends 'clienttemplates/clientbase.html' %}
{% block content %}




<!-- //Domain modal -->
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> gallery</li>
        </ul>
    </div>
</section>


<!-- gallery section start here -->
<section class="w3l-portfolio-8 py-5 ">
    <div class="portfolio-main py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">Gallery</h6>
                <h3 class="title-big">Some Specials Captures</h3>
            </div>
            <div class="row galler-top mt-lg-5 mt-4">
                {% for gallery in gallerylistview %}
                <div class="col-md-3 col-6 protfolio-item hover14 align-self">
                    <a href="{{gallery.image.url}}" data-lightbox="example-set"
                    data-title="{{gallery.title}}">
                            <figure>
                                <img src="{{gallery.image.url}}" alt="product" class="img-fluid radius-image gallery">
                            </figure>
                    </a>
                </div>
                

                {% endfor %}
            </div>
        </div>
    </div>
                
</section>
<!-- gallery end -->




{% endblock %}