{% extends 'clienttemplates/clientbase.html' %}
{% block content %}
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> menu</li>
        </ul>
    </div>
</section>


	<div class="agileits-services  py-5" id="menu">
		<div class="container py-md-5">

            <div class="title-content text-center">
            	<a href="/order/" class="btn btn-secondary btn-outline-style mt-md-5 mt-4 mb-2"> 
                        <span class="fa fa-shopping-cart mr-2"></span> Order Online</a>
                <h6 class="sub-title">Special Menu</h6>
                <h3 class="title-big">Menu combo for you</h3>
            </div>
			<div class="pt-lg-5 pt-4">
				<div class="row menu-body mx-auto">
					<!-- Section starts: Appetizers -->
						
					{% for category in food_category %}
					<div class="col-lg-6 menu-section pr-lg-5">
						<!-- Item starts -->
						<h3 style="margin-top:7px;" class="menu-section-title">{{category.food_type}}</h3>
					{% for menu in category.foodmenu_set.all %}
						<div class="menu-item">
							<div class="row border-dot no-gutters">
								<div class="col-8 menu-item-name">
									<h6>{{menu.food_name}}</h6>
								</div>
								<div class="col-4 menu-item-price text-right">
									<h6>{{menu.price}}</h6>
								</div>
							</div>
							{% if menu.extra %}
							<div class="menu-item-description">
								<p>{{menu.extra}}</p>
							</div>
							{% endif %}
						</div>
						<li>

						{% endfor %}
						</div>

						{% endfor %}


					<!-- Section ends: Drinks -->
				</div>
			</div>
		</div>
	</div>

{% endblock %}