{% extends 'clienttemplates/clientbase.html' %}

{% block content %}
	
		<div class="container custom-margin" style="text-align: center;">
			<h3 class="sub-title">feel free</h3>
			<h3 class="sub-title">to order your food</h3>
		</div>


		<div class="order-form">
        <div class="container" >
        	<div class="row reason-background">
            <div class="col-md-8 form-inner-cont">

              <form method="POST" class="signin-form">
                {% csrf_token %}
                <div class="form-input">
                  <label for="w3lName">Name</label>
                  {{form.name}}
                </div>
                <div class="form-input">
                  <label for="w3lSender">Location</label>
                  {{form.location}}
                </div>
                <div class="form-input">
                  <label for="w3lMessage">Order</label>
                  {{form.order_name}}
                </div>
                <div class="form-input">
                  <label for="w3lName">Phone</label>
                  {{form.phone}}
                </div>
                <div class="form-input">
                  <label for="w3lName">Pick up time</label>
                  {{form.pickup_time}}
                </div>
                <div>
                  <button type="submit" class="btn btn-style btn-primary custom-margin">Send</button>
                </div>
              </form>
            </div>
        </div>
        </div>
    </div>

{% endblock %}