{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size: 20px;
  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
        <a href="{% url 'restroapp:adminhome' %}" class="fa fa-long-arrow-left" area-hidden = 'true'>back</a>

      {% for about in a_aboutlistview %}
      {% if forloop.counter == 1%}
      <div class="panel panel-default">
        <div class="row mx-auto">
          <div class="col-md-8 col-sm-8 col-lg-8">
            <h3 class="form-group">Title: {{about.title}}</h3>
            <label>Detail:</label>
            <p class="form-group">{{about.detail}}</p>

           </div> 
        </div>
      </div>
      <div>
        
        <a href="{% url 'restroapp:aboutupdateview' about.id %}"><button type="button" class="btn btn-primary" >Edit About</button>
          {% endif %}
      {% endfor %}

      </div>
    </div>
</section>


{% endblock %}