{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size: 20px;
  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
        <a href="{% url 'restroapp:adminhome' %}" class="fa fa-long-arrow-left" area-hidden = 'true'>back</a>
      {% for banner in a_bannerlistview %}
      {% if forloop.counter == 1 %}
      <div class="panel panel-default">

        <div class="row mx-auto">
          <div class="col-md-8 col-sm-8 col-lg-8">
            <h3 class="form-group">Slogon: {{banner.slogon}}</h3>
            <p class="form-group">Offer/Text: {{banner.some_text}}</p>
            <img style="width: 15rem; height: 15rem;" src="{{banner.image.url}}">
            <p class="form-group">Price: {{banner.price}}</p>



           </div> 
           


        </div>
      </div>
      <div>
        
        <a href="{% url 'restroapp:a_bannerupdate' banner.id %}"><button type="button" class="btn btn-primary" >Edit Banner Content</button>
        {% endif %}
        {% endfor %}

      </div>
    </div>
</section>


{% endblock %}