{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size: 20px;
  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
        <a href="{% url 'restroapp:adminhome' %}" class="fa fa-long-arrow-left" area-hidden = 'true'>back</a>

      {% for contact in a_contactlistview %}
      {% if forloop.counter == 1%}
      <div class="panel panel-default">
        <div class="row mx-auto">
          <div class="col-md-8 col-sm-8 col-lg-8">
            <h3 class="form-group">Phone: {{contact.phone}}</h3>
            <p class="form-group">Email: {{contact.email}}</p>
            <p class="form-group">Address: {{contact.address}}</p>
            <p class="form-group">Open Days: {{contact.open_day}}</p>
            <p class="form-group">Open Hours: {{contact.open_time}}</p>
           </div> 
        </div>
      </div>
      <div>
        
        <a href="{% url 'restroapp:contactupdate' contact.id %}"><button type="button" class="btn btn-primary" >Edit Contact</button>
          {% endif %}
      {% endfor %}

      </div>
    </div>
</section>


{% endblock %}