{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block content %}


<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<!-- gallery -->
		<!-- gallery -->
		<div style="margin-bottom: 5px;">
			<a href="{% url 'restroapp:a_gallerycreate'%}" type="button" class="btn btn-primary">Add Photo</a>
		</div>
	<div class="gallery">
		<h2 class="w3ls_head">Gallery</h2>
		<div class="gallery-grids">
				<div class="gallery-top-grids">

					{% for gallery in a_gallerylistview %}
					<div class="col-sm-4 gallery-grids-left">
						<div class="gallery-grid">
							<p class="example-image-link" href="{{gallery.image.url}}" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
								<img class="gallery-img"s src="{{gallery.image.url}}" alt="" />
								<div class="captn">
									<h4>Restro</h4>
									<p>{{gallery.title}}</p>
									<p><a style="color: white;" href="{% url 'restroapp:a_galleryupdate' gallery.id %}">Edit</a> / <a style="color: white;" href="{% url 'restroapp:a_gallerydelete'  gallery.id %}">Delete</a></p>
								</div>
							</p>
						</div>
					</div>
					{% endfor %}
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
				<script src="{% static 'adminstatic/js/lightbox-plus-jquery.min.js' %}"> </script>
		
	</div>
	</div>
	<!-- //gallery -->

</section>


{% endblock %}