{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
     
 <div class="panel panel-default">
    <div class="panel-heading">
     online orders
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
 		<thead>
          <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Order</th>
            <th>Ordered time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        	{% for order in a_orderlistview %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'restroapp:a_orderdetail' order.id %}">{{order.name}}</a></td>
            <td>{{order.order_name}}</td>
            <td>{{order.created_at|timesince}} ago</td>
            
            <td>
              <a href="{% url 'restroapp:a_orderdelete' order.id %}"><button type="button" class="btn btn-primary" >Delete</button>
				</a>
			</td>
          </tr>
          {% endfor %}



        </tbody>
      </table>
    </div>
  </div>
</div>
</section>




{% endblock %}