{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size: 20px;
  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
        <a href="{% url 'restroapp:a_orderlist' %}" class="fa fa-long-arrow-left" area-hidden = 'true'>back</a>
      <div class="panel panel-default">

        <div class="row mx-auto">
          <div class="col-md-8 col-sm-8 col-lg-8">
            <h3 class="form-group">Name: {{a_orderdetailview.name}}</h3>
            <label><b>Orders:</b></label>
            <hr>
            <p class="form-group">{{a_orderdetailview.order_name|linebreaks}}</p><hr>
            <p class="form-group">Phone No: {{a_orderdetailview.phone}}</p>
            <p class="form-group">Pick Up Time: {{a_orderdetailview.pickup_time}}</p>
            <p class="form-group">Location: {{a_orderdetailview.location}}</p>
            <small>order at: {{a_orderdetailview.created_at|timesince}} ago</small>
          </div> 
           


        </div>
      </div>
      <div>
        <a href="{% url 'restroapp:a_orderdelete' a_orderdetailview.id %}"><button type="button" class="btn btn-primary" >Delete</button>
        

      </div>
    </div>
</section>


{% endblock %}