{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
      <div style="margin-bottom: 5px;">
      <a href="{% url 'restroapp:a_reasoncreate' %}" type="button" class="btn btn-primary">Add Reason<small> (if less than 4)</small></a>
      </div>
 <div class="panel panel-default">
    <div class="panel-heading">
     Reason  to Choose Us
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
 		<thead>
          <tr>
            <th>S.N</th>
            <th>title</th>           
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        	{% for reasonlist in a_reasonlistview %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'restroapp:a_reasondetail' reasonlist.id %}">{{reasonlist.title}}</a></td>
            
            <td>
              <a href="{% url 'restroapp:a_reasondelete' reasonlist.id %}"><button type="button" class="btn btn-primary" >Delete</button>
              <a href="{% url 'restroapp:a_reasonupdate' reasonlist.id %}"><button type="button" class="btn btn-primary" >Edit</button>

				</a>
			</td>
          </tr>
          {% endfor %}



        </tbody>
      </table>
    </div>
  </div>
</div>
</section>




{% endblock %}