{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size: 20px;
  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
        <a href="{% url 'restroapp:a_reasonlist' %}" class="fa fa-long-arrow-left" area-hidden = 'true'>back</a>
      <div class="panel panel-default">

        <div class="row mx-auto">
          <div class="col-md-8 col-sm-8 col-lg-8">
            <h3 class="form-group">Title: {{a_reasondetailview.title}}</h3>
            <label><b>Content:</b></label>
            <p class="form-group">{{a_reasondetailview.few_line}}</p>
            <img style="width: 15rem; height: 15rem;" src="{{a_reasondetailview.image.url}}">



           </div> 
           


        </div>
      </div>
      <div>
        <a href="{% url 'restroapp:a_reasondelete' a_reasondetailview.id %}"><button type="button" class="btn btn-primary" >Delete</button>
        <a href="{% url 'restroapp:a_reasonupdate' a_reasondetailview.id %}"><button type="button" class="btn btn-primary" >Edit</button>

      </div>
    </div>
</section>


{% endblock %}