{% extends 'admintemplates/adminbase.html' %}

{% block content %}


<!--main content start-->
<section id="main-content">
	<section class="wrapper">
	<div class="form-w3layouts">
        <a href="{% url 'restroapp:adminhome' %}">cancel</a>
        <!-- page start-->
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Create Admin
                        </header>
                        <div class="panel-body">
                            <div class="position-center">
                                <form role="form" method="POST" enctype="multipart/form-data">
                                	{% csrf_token %}
                                <div class="form-group">
                                

                                    <label >Username</label><span id="id_message"></span>
                                    {{form.username}}
                                   
                                </div>
                                <div class="form-group">
                                    <label >Password</label>
                                    {{form.password}}
                                   
                                </div>
                                <div class="form-group">
                                    <label >Confirm Password</label>
                                    {{form.confirm_password}}
                                   
                                </div>
                                <span id="password_message"></span>
                                <hr>
                                <div class="form-group">
                                    <label>Full Name</label>
                                    {{form.full_name}}
                                   
                                </div>
                                <div class="form-group">
                                    <label>Image</label>
                                    {{form.image}}
                                   
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    {{form.email}}
                                   
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    {{form.phone}}
                                   
                                </div>
                                <div class="form-group">
                                    <label>Post</label>
                                    {{form.post}}
                                   
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    {{form.address}}
                                   
                                </div>
                               
                                <button type="submit" class="btn btn-info" id="save_button">Done</button>
                            </form>
                            </div>

                        </div>
                    </section>

            </div>
        </div>
    </div>





        <!-- page end-->
</section>

{% endblock %}

{% block js %}
<!-- for username -->
<script type="text/javascript">
    $("#id_username").on('keyup',function(){
        var uname = $(this).val().trim();
        if($("#id_username").val() ==""){
            $('#id_message').text("");
        }
        else{
        $.ajax({
            method:'get',
            url : '/username-check/',
            data:{
                username:uname
            },
            success: function(data){
                $('#id_message').text(data.message).css('color',data.color);
                if(data.color=='red'){
                    $('#save_button').attr('disabled',true)
                }
                else
                {
                    $('#save_button').attr('disabled',false)
                }
            }
        })
    }
    })

</script>




{% endblock %}