{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
      <div style="margin-bottom: 5px;">
      <a href="{% url 'restroapp:a_specialcreate' %}" type="button" class="btn btn-primary">Add Special Combo</a>
      </div>
 <div class="panel panel-default">
    <div class="panel-heading">
     Your Special Combos
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
 		<thead>
          <tr>
            <th>S.N</th>
            <th>food name</th>
            <th>Price</th>

           
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        	{% for special in a_speciallistview %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'restroapp:a_specialdetail' special.id %}">{{special.food_name}}</a></td>
            <td>{{special.price}}</td>
            
            <td>
              <a href="{% url 'restroapp:a_specialdelete' special.id %}"><button type="button" class="btn btn-primary" >Delete</button>
            	<a href="{% url 'restroapp:a_specialupdate' special.id %}"><button type="button" class="btn btn-primary" >Edit</button>
				</a>
			</td>
          </tr>
          {% endfor %}



        </tbody>
      </table>
    </div>
  </div>
</div>
</section>




{% endblock %}