{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size: 20px;
  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
        <a href="{% url 'restroapp:a_speciallist' %}" class="fa fa-long-arrow-left" area-hidden = 'true'>back</a>
      <div class="panel panel-default">

        <div class="row mx-auto">
          <div class="col-md-8 col-sm-8 col-lg-8">
            <h3 class="form-group">Title: {{a_specialdetailview.food_name}}</h3>
            <p class="form-group">Content: {{a_specialdetailview.combo}}</p>
            <img style="width: 15rem; height: 15rem;" src="{{a_specialdetailview.image.url}}">
            <p class="form-group">Price: {{a_specialdetailview.price}}</p>



           </div> 
           


        </div>
      </div>
      <div>
        <a href="{% url 'restroapp:a_specialdelete' a_specialdetailview.id %}"><button type="button" class="btn btn-primary" >Delete</button>
        <a href="{% url 'restroapp:a_specialupdate' a_specialdetailview.id %}"><button type="button" class="btn btn-primary" >Edit</button>

      </div>
    </div>
</section>


{% endblock %}