{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size: 20px;
  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
        <a href="{% url 'restroapp:a_clientvoicelist' %}" class="fa fa-long-arrow-left" area-hidden = 'true'>back</a>
      <div class="panel panel-default">

        <div class="row mx-auto">
          <div class="col-md-8 col-sm-8 col-lg-8">
            <h3 class="form-group">Name: {{a_voicedetailview.name}}</h3>
            <img style="width: 15rem; height: 15rem;" src="{{a_voicedetailview.image.url}}"><br>
            <label><b>Voice:</b></label>
            <p class="form-group">{{a_voicedetailview.voice}}</p>
            <p class="form-group">Post & Company: {{a_voicedetailview.post_company}}</p>

          </div> 
           


        </div>
      </div>
      <div>
        <a href="{% url 'restroapp:a_clientvoicedelete' a_voicedetailview.id %}"><button type="button" class="btn btn-primary" >Delete</button>
        <a href="{% url 'restroapp:a_clientvoiceupdate' a_voicedetailview.id %}"><button type="button" class="btn btn-primary" >Edit</button>

      </div>
    </div>
</section>


{% endblock %}