{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
      <div style="margin-bottom: 5px;">
      <a href="{% url 'restroapp:a_clientvoicecreate' %}" type="button" class="btn btn-primary">Add Customer Voice</a>
    </div>
 <div class="panel panel-default">
    <div class="panel-heading">
     Customer Voices
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
 		<thead>
          <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Post & Company</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        	{% for voice in a_voicelistview %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'restroapp:a_clientvoicedetail' voice.id %}">{{voice.name}}</a></td>
            <td>{{voice.post_company}}</td>
            
            <td>
              <a href="{% url 'restroapp:a_clientvoicedelete' voice.id %}"><button type="button" class="btn btn-primary" >Delete</button>
            	<a href="{% url 'restroapp:a_clientvoiceupdate' voice.id %}"><button type="button" class="btn btn-primary" >Edit</button>
				</a>
			</td>
          </tr>
          {% endfor %}



        </tbody>
      </table>
    </div>
  </div>
</div>
</section>




{% endblock %}