{% extends 'admintemplates/adminbase.html' %}

{% block content %}


<!--main content start-->
<section id="main-content">
	<section class="wrapper">
	<div class="form-w3layouts">
        <!-- page start-->
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Edit Your About
                        </header>
                        <div class="panel-body">
                            <div class="position-center">
                                <form role="form" method="POST" >
                                	{% csrf_token %}
                                <div class="form-group">
                                    <label >Title</label>
                                    {{form.title}}
                                   
                                </div>
                                <div class="form-group">
                                    <label >Detail</label>
                                    {{form.detail}}
                                   
                                </div>
                               
                                <button type="submit" class="btn btn-info">Done</button>
                            </form>
                            </div>

                        </div>
                    </section>

            </div>
        </div>
    </div>





        <!-- page end-->
</section>
</section>

{% endblock %}