{% load static %}
{% load unread_messages %}
<!DOCTYPE html>
<head>
<title>Restro|Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" type="text/css" href="{% static 'adminstatic/css/self-style.css' %}">
<link rel="stylesheet" href="{% static 'adminstatic/css/bootstrap.min.css' %}" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="{% static 'adminstatic/css/style.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'adminstatic/css/style-responsive.css' %}" rel="stylesheet"/>
<!-- font CSS -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static 'adminstatic/css/font.css' %}" type="text/css"/>
<link href="{% static 'adminstatic/css/font-awesome.css' %}" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'adminstatic/css/morris.css' %}" type="text/css"/>
<!-- calendar -->
<link rel="stylesheet" href="{% static 'adminstatic/css/monthly.css' %}">
<!-- //calendar -->
<!-- //font-awesome icons -->
<script src="{% static 'adminstatic/js/jquery2.0.3.min.js' %}"></script>
<script src="{% static 'adminstatic/js/raphael-min.js' %}"></script>
<script src="{% static 'adminstatic/js/morris.js' %}"></script>
</head>
<body>
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">
    <a href="/admin/home/" class="logo">
        RESTRO
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>
<!--logo end-->
<div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">



        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-important">
                   {{ unread_messages }}
                </span>
                
            </a>
            <ul class="dropdown-menu extended inbox">
            {% for message in messagelist %}
            {% if forloop.counter <= 4 %}
                <li>
                    <a href="#">
                        
                                <span class="subject">
                                <span class="from">{{message.name}}</span>
                                <span class="time">{{message.created_at|timesince}} ago</span>
                                </span>
                                <span class="message">
                                    <p>{{message.message|truncatechars:50}}</p>
                                </span>
                    </a>
                </li>
            {%endif %}
               
            {% endfor %}
                <li>
                    <a href="{% url 'restroapp:messagelist' %}">See all messages</a>
                </li>
            </ul>
        </li>
        <!-- inbox dropdown end -->
        <!-- notification dropdown start-->
        <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                <i class="fa fa-bell-o"></i>
                <span class="badge bg-warning">5</span>
            </a>
            <ul class="dropdown-menu extended notification">
                <li>
                    <p>Orders</p>
                </li>
                {% for order in orderlist %}
                {% if forloop.counter <= 4 %}
                <li>
                    <div class="alert alert-info clearfix">
                        <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                        <div class="noti-info">
                            <a href="{% url 'restroapp:a_orderdetail' order.id %}">
                                <span class="subject">
                                    <span class="from">{{order.name}}</span>
                                    <span class="time">{{order.created_at|timesince}} ago</span>
                                </span>
                                <span class="message">
                                    <p>{{order.order_name|truncatechars:20}}</p>
                                </span>
                            </a>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
                <li>
                    <a href="{% url 'restroapp:a_orderlist' %}">See all orders</a>
                </li>
                
            </ul>
        </li>
        <!-- notification dropdown end -->
    </ul>
    <!--  notification end -->
</div>
<div class="top-nav clearfix">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder=" Search">
        </li>
        <!-- user login dropdown start-->
        {% if request.user.is_authenticated %}
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="username" style="padding: 10px;">{{request.user.username}}</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <li><a href="{% url 'restroapp:adminprofiledetail' %}"><i class=" fa fa-suitcase"></i>Profile</a></li>
                <li><a href="{% url 'restroapp:a_settings' %}"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="{% url 'restroapp:a_registration' %}"><i class=" fa fa-user">
                </i>Add Admin</a></li>
                <li><a href="{% url 'restroapp:logout' %}"><i class="fa fa-key"></i> Log Out</a></li>
            </ul>
        </li>
        {% else %}
        <li><a href="{% url 'restroapp:login' %}">Login</a></li>
        {% endif %}
        <!-- user login dropdown end -->
       
    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->

<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/admin/home/">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{%url 'restroapp:a_orderlist' %}">
                        <i class="fa fa-list-alt"></i>
                        <span>Orders</span>
                    </a>
                </li>
                
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>About</span>
                    </a>
                    
                    <ul class="sub">
                        <li><a href="{% url 'restroapp:a_aboutlist' %}">About page</a></li>
                        <li><a href="{% url 'restroapp:a_subaboutlist' %}">Sub About Page</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{%url 'restroapp:a_bannerlist' %}">
                        <i class="fa fa-flag"></i>
                        <span>Banner content</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-users" area-hidden ="true"></i>
                        <span>Chef</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{% url 'restroapp:a_teamcreate' %}">Add Chef</a></li>
                        <li><a href="{% url 'restroapp:a_teamlist' %}">Chef List</a></li>
                        
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-question-circle" area-hidden ="true"></i>
                        <span>4 Reason to Choose</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{% url 'restroapp:a_reasoncreate' %}">Add Reason</a></li>
                        <li><a href="{% url 'restroapp:a_reasonlist' %}">Reason List</a></li>
                        
                    </ul>
                </li>


                <li>
                    <a href="{% url 'restroapp:a_contactcreate' %}">
                        <i class="fa fa-pencil" area-hidden = "true"></i>
                        <span>Add contact</span>
                    </a>

                    
                </li>

                
                <li>
                    <a href="{%url 'restroapp:messagelist' %}">
                        <i class="fa fa-envelope"></i>
                        <span>Messages</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-question-circle" area-hidden ="true"></i>
                        <span>Special Combo</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{% url 'restroapp:a_specialcreate' %}">Add Special Combo</a></li>
                        <li><a href="{% url 'restroapp:a_speciallist' %}">Special Combo list</a></li>
                        
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-comment-o" area-hidden ="true"></i>
                        <span>Customer Voice</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{% url 'restroapp:a_clientvoicecreate' %}">Add Customer Voice</a></li>
                        <li><a href="{% url 'restroapp:a_clientvoicelist' %}">Customer Voice List</a></li>
                        
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-picture-o" area-hidden ="true"></i>
                        <span>Gallery</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{% url 'restroapp:a_gallerycreate' %}">Add Photo</a></li>
                        <li><a href="{% url 'restroapp:a_gallerylist' %}">gallery</a></li>
                        
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fas fa-cutlery" area-hidden ="true"></i>
                        <span>Food Category</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{% url 'restroapp:foodcategorycreate' %}">Add Food Catogory</a></li>
                        <li><a href="{% url 'restroapp:foodcategorylist' %}">Food Category</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="{%url 'restroapp:foodmenulist' %}">
                        <i class="fa fa-book"></i>
                        <span>Food Menu</span>
                    </a>
                </li>                 
            </ul>           
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->




{% block content %}

{% endblock %}






 <!-- footer -->
		  <div class="footer">
			<div class="wthree-copyright">
			  <p>© 2020 Restro. All rights reserved | Design & Developed by <a href="#">Rupak Ale</a></p>
			</div>
		  </div>
  <!-- / footer -->
</section>
<!--main content end-->
</section>
<script src="{% static 'adminstatic/js/bootstrap.js' %}"></script>
<script src="{% static 'adminstatic/js/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'adminstatic/js/scripts.js' %}"></script>
<script src="{% static 'adminstatic/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'adminstatic/js/jquery.nicescroll.js' %}"></script>
[if lte IE 8]>
<script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script>
<![endif]
<script src="{% static 'adminstatic/js/jquery.scrollTo.js' %}"></script>
<!-- morris JavaScript -->	
<script>
	$(document).ready(function() {
		//BOX BUTTON SHOW AND CLOSE
	   jQuery('.small-graph-box').hover(function() {
		  jQuery(this).find('.box-button').fadeIn('fast');
	   }, function() {
		  jQuery(this).find('.box-button').fadeOut('fast');
	   });
	   jQuery('.small-graph-box .box-close').click(function() {
		  jQuery(this).closest('.small-graph-box').fadeOut(200);
		  return false;
	   });
	   
	    //CHARTS
	    function gd(year, day, month) {
			return new Date(year, month - 1, day).getTime();
		}
		
		graphArea2 = Morris.Area({
			element: 'hero-area',
			padding: 10,
        behaveLikeLine: true,
        gridEnabled: false,
        gridLineColor: '#dddddd',
        axes: true,
        resize: true,
        smooth:true,
        pointSize: 0,
        lineWidth: 0,
        fillOpacity:0.85,
			data: [
				{period: '2015 Q1', iphone: 2668, ipad: null, itouch: 2649},
				{period: '2015 Q2', iphone: 15780, ipad: 13799, itouch: 12051},
				{period: '2015 Q3', iphone: 12920, ipad: 10975, itouch: 9910},
				{period: '2015 Q4', iphone: 8770, ipad: 6600, itouch: 6695},
				{period: '2016 Q1', iphone: 10820, ipad: 10924, itouch: 12300},
				{period: '2016 Q2', iphone: 9680, ipad: 9010, itouch: 7891},
				{period: '2016 Q3', iphone: 4830, ipad: 3805, itouch: 1598},
				{period: '2016 Q4', iphone: 15083, ipad: 8977, itouch: 5185},
				{period: '2017 Q1', iphone: 10697, ipad: 4470, itouch: 2038},
			
			],
			lineColors:['#eb6f6f','#926383','#eb6f6f'],
			xkey: 'period',
            redraw: true,
            ykeys: ['iphone', 'ipad', 'itouch'],
            labels: ['All Visitors', 'Returning Visitors', 'Unique Visitors'],
			pointSize: 2,
			hideHover: 'auto',
			resize: true
		});
		
	   
	});
	</script>
<!-- calendar -->
	<script type="text/javascript" src="{% static 'adminstatic/js/monthly.js' %}"></script>
	<script type="text/javascript">
		$(window).load( function() {

			$('#mycalendar').monthly({
				mode: 'event',
				
			});

			$('#mycalendar2').monthly({
				mode: 'picker',
				target: '#mytarget',
				setWidth: '250px',
				startHidden: true,
				showTrigger: '#mytarget',
				stylePast: true,
				disablePast: true
			});

		switch(window.location.protocol) {
		case 'http:':
		case 'https:':
		// running on a server, should be good.
		break;
		case 'file:':
		alert('Just a heads-up, events will not work when run locally.');
		}

		});
	</script>
	<!-- //calendar -->
</body>
</html>
