{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size: 20px;
  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
        <a href="{% url 'restroapp:a_clientvoicelist' %}" class="fa fa-long-arrow-left" area-hidden = 'true'>back</a>
      <div class="panel panel-default">

        <div class="row mx-auto">

          {% for profile in admindetail %}
          <div class="col-md-8 col-sm-8 col-lg-8">
            <h3 class="form-group">Name: {{profile.full_name}}</h3>
            <img style="width: 15rem;" src="{{profile.image.url}}"><br>
            <p class="form-group">Email: {{profile.email}}</p>
            <p class="form-group">Phone: {{profile.phone}}</p>
            <p class="form-group">Post: {{profile.post}}</p>
            <p class="form-group">Address: {{profile.address}}</p>

            <small>admin since {{profile.created_at}}</small>

          </div> 
          {% endfor %}
           


        </div>
          
      </div>
      <div>
        <a href=""><button type="button" class="btn btn-primary" >Delete</button>
        <a href=""><button type="button" class="btn btn-primary" >Edit</button>

      </div>

      
    </div>
</section>


{% endblock %}