{% extends 'admintemplates/adminbase.html' %}
{% load crispy_forms_tags %}


{% block content %}


<!--main content start-->
<section id="main-content">
	<section class="wrapper">
	<div class="form-w3layouts">




        <div class="row">
            <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            change password
                        </header>
                        <div class="panel-body">
                            <div class="position-center">
                                <form role="form" method="POST">
                                	{% csrf_token %}

                                <div class="form-group">

                                    {{form|crispy}}
                                   
                                </div><br>
                               
                                
                               <div class="clearfix"></div>
                                <button type="submit" class="btn btn-info">Done</button>
                            </form>
                            </div>

                        </div>
                    </section>

            </div>
        </div>


    </div>
<!-- page end-->
</section>


{% endblock %}