{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
      <div style="margin-bottom: 5px;">
      <a href="{% url 'restroapp:a_teamcreate' %}" type="button" class="btn btn-primary">Add Chef</a>
    </div>
 <div class="panel panel-default">
    <div class="panel-heading">
     Our Chef
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
 		<thead>
          <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Post</th>
            <th>Joined Date</th>
           
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        	{% for cheflist in chefteamlist %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'restroapp:a_teamdetail' cheflist.id %}">{{cheflist.name}}</a></td>
            <td>{{cheflist.post}}</td>
            <td>{{cheflist.created_at}}</td>
            
            <td>
              <a href="{% url 'restroapp:a_teamdelete' cheflist.id %}"><button type="button" class="btn btn-primary" >Delete</button>
            	<a href="{% url 'restroapp:a_teamupdate' cheflist.id %}"><button type="button" class="btn btn-primary" >Edit</button>
				</a>
			</td>
          </tr>
          {% endfor %}



        </tbody>
      </table>
    </div>
  </div>
</div>
</section>




{% endblock %}