{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size: 20px;
  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
        <a href="{% url 'restroapp:a_teamlist' %}" class="fa fa-long-arrow-left" area-hidden = 'true'>back</a>
      <div class="panel panel-default">

        <div class="row mx-auto">
          <div class="col-md-8 col-sm-8 col-lg-8">
            <h3 class="form-group">Name: {{chefdetail.name}}</h3>
            <img style="width: 20rem; height:20rem; margin: 1.2rem;" src="{{chefdetail.image.url}}">
            <p class="form-group">Phone: {{chefdetail.phone}}</p>
            <p class="form-group">Email: {{chefdetail.email}}</p>
            <p class="form-group">Facebook: {{chefdetail.facebook}}</p>
            <p class="form-group">Twitter: {{chefdetail.twitter}}</p>
            <p class="form-group">Post: {{chefdetail.post}}</p>
            <p class="form-group">Address: {{chefdetail.address}}</p>
            <p class="form-group">Joined Date: {{chefdetail.created_at}}</p>
           </div> 
        </div>
      </div>
       <a href="{% url 'restroapp:a_teamdelete' chefdetail.id %}"><button type="button" class="btn btn-primary" >Delete</button>
        <a href="{% url 'restroapp:a_teamupdate' chefdetail.id %}"><button type="button" class="btn btn-primary" >Edit</button>
    </div>
</section>


{% endblock %}