{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size: 20px;
  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
        <a href="{% url 'restroapp:foodmenulist' %}" class="fa fa-long-arrow-left" area-hidden = 'true'>back</a>
      <div class="panel panel-default">

        <div class="row mx-auto">
          <div class="col-md-8 col-sm-8 col-lg-8">
            <h3 class="form-group">Food Name: {{foodmenudetailview.food_name}}</h3>
            <p class="form-group">Category: {{foodmenudetailview.category}}</p>
            <p class="form-group">Price: {{foodmenudetailview.price}}</p>
            <p class="form-group">Extra Info: {{foodmenudetailview.extra}}</p>
            <small class="form-group">{{foodmenudetailview.created_at}}</small>
           </div> 
        </div>
      </div>
      <a href="{% url 'restroapp:foodmenudelete' foodmenudetailview.id%}"><button type="button" class="btn btn-primary" >Delete this Item</button>
    </div>
</section>


{% endblock %}