{% extends 'admintemplates/adminbase.html' %}

{% block content %}


<!--main content start-->
<section id="main-content">
	<section class="wrapper">
	<div class="form-w3layouts">
        <a href="{% url 'restroapp:adminhome' %}">cancel</a>
        <!-- page start-->
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Add/Edit Menu Items
                        </header>
                        <div class="panel-body">
                            <div class="position-center">
                                <form role="form" method="POST" >
                                	{% csrf_token %}
                                <div class="form-group">
                                    <label >Food Name</label>
                                    {{form.food_name}}
                                   
                                </div>
                                <div class="form-group">
                                    <label >Category<small> (select one)</small></label>
                                    {{form.category}}
                                   
                                </div>
                                <div class="form-group">
                                    <label >Price</label>
                                    {{form.price}}
                                   
                                </div>
                                <div class="form-group">
                                    <label >Extra Info <small>(optional)</small></label>
                                    {{form.extra}}
                                   
                                </div>

                               
                                
                               
                                <button type="submit" class="btn btn-info">Done</button>
                            </form>
                            </div>

                        </div>
                    </section>

            </div>
        </div>
    </div>





        <!-- page end-->
</section>

{% endblock %}