{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
      <div style="margin-bottom: 5px;">
      <a  href="{% url 'restroapp:foodcategorycreate' %}" type="button" class="btn btn-primary" >Add Food Category</a>
    </div>
 <div class="panel panel-default">
    <div class="panel-heading">
     Food Categories
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
 		<thead>
          <tr>
            <th>S.N</th>
            <th>Food Type</th>
           
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        	{% for category in foodcategorylistview %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            
            <td>{{category.food_type}}</td>
            
            <td>
            	<a href="{% url 'restroapp:foodcategorydelete' category.id %}"><button type="button" class="btn btn-primary" >Delete</button>
				</a>
			</td>
          </tr>
          {% endfor %}



        </tbody>
      </table>
    </div>
  </div>
</div>
</section>




{% endblock %}