{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size:20px;
  }

.button {
    margin: 1.2rem;
    text-align: center;
    /*padding:0rem 2rem;*/
    font-size: 1.3rem;

  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">

    <a href="{% url 'restroapp:messagelist' %}" class="fa fa-long-arrow-left">back</a>
     <div class="panel panel-default">
        <div class="p-3">
          <form method="POST">
            {% csrf_token %}
            <div>
              <h4 class="text-danger margin" style="text-align: center ; padding: 20px 0 10px ;"> Are you sure to delete?</h4>


              <div class="center">
                <button class="btn btn-danger button" type="submit">Yes</button>
                <a href="{% url 'restroapp:messagelist' %}" type="button" class="btn btn-success button">No</a>
              </div>
            </div>
          </form>
        </div>

      </div>
</div>
</section>


{% endblock %}