{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Your Messages
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
 		<thead>
          <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Send At</th>
           
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        	{% for admin_message in message %}
          <tr data-expanded="true">
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'restroapp:messagedetailview' admin_message.id %}">{{admin_message.name}}</a></td>
            <td>{{admin_message.created_at|timesince}} ago</td>
            
            <td>
            	<a href="{% url 'restroapp:messagedelete' admin_message.id%}"><button type="button" class="btn btn-primary" >Delete</button>
				</a>
			</td>
          </tr>
          {% endfor %}



        </tbody>
      </table>
    </div>
  </div>
</div>
</section>




{% endblock %}