{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<style>
  .fa {
    font-size: 20px;
  }
</style>

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
        <a href="{% url 'restroapp:messagelist' %}" class="fa fa-long-arrow-left" area-hidden = 'true'>back</a>
      <div class="panel panel-default">

        <div class="row mx-auto">
          <div class="col-md-8 col-sm-8 col-lg-8">
            <h3 class="form-group">Sender: {{messagedetail.name}}</h3>
            <p class="form-group">Email: {{messagedetail.email}}</p>
            <p class="form-group">Message: {{messagedetail.message|linebreaks}}</p>
            <small class="form-group">{{messagedetail.created_at|timesince}} ago</small>
           </div> 
        </div>
      </div>
      <a href="{% url 'restroapp:messagedelete' messagedetail.id%}"><button type="button" class="btn btn-primary" >Delete this message</button>
    </div>
</section>


{% endblock %}