{% extends 'admintemplates/adminbase.html' %}


{% block content %}


<!--main content start-->
<section id="main-content">
<section class="wrapper">
	<div class="form-w3layouts">

		<p class="text-center text-success">password is successfully changed</p>
		<div class="row">
		  <div class="col-sm-12">
		    <div class="text-center">
		      <a href="{% url 'restroapp:adminhome' %}" class="btn btn-info">Done</a>
		    </div>
		  </div>
		</div>
		<div class="center-block">
			
		</div>

	</div>
</section>



{% endblock %}