{% load static %}
<!DOCTYPE html>
<head>
<title>Restro|Admin-Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" href="{% static 'adminstatic/css/bootstrap.min.css' %}" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="{% static 'adminstatic/css/style.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'adminstatic/css/style-responsive.css' %}" rel="stylesheet"/>
<!-- font CSS -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static 'adminstatic/css/font.css' %}" type="text/css"/>
<link href="{% static 'adminstatic/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome icons -->
<script src="{% static 'adminstatic/js/jquery2.0.3.min.js' %}"></script>
</head>
<body>
	<div class="log-w3">
		<div class="w3layouts-main">

			<h3>Password successfully changed!!</h3>
			<a href="{% url 'restroapp:login' %}">Click here to Login</a>  
		</div>
	</div>
<script src="{% static 'adminstatic/js/bootstrap.js' %}"></script>
<script src="{% static 'adminstatic/js/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'adminstatic/js/scripts.js' %}"></script>
<script src="{% static 'adminstatic/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'adminstatic/js/jquery.nicescroll.js' %}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{% static 'adminstatic/js/flot-chart/excanvas.min.js' %}"></script><![endif]-->
<script src="{% static 'adminstatic/js/jquery.scrollTo.js' %}"></script>
</body>
</html>
