{% extends 'admintemplates/adminbase.html' %}

{% block content %}


<!--main content start-->
<section id="main-content">
	<section class="wrapper">
	<div class="form-w3layouts">
        <a href="{% url 'restroapp:adminhome' %}">cancel</a>
        <!-- page start-->
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Add/Edit 4 reason to choose us
                        </header>
                        <div class="panel-body">
                            <div class="position-center">
                                <form role="form" method="POST" enctype="multipart/form-data">
                                	{% csrf_token %}
                                <div class="form-group">
                                    <label >Title</label>
                                    {{form.title}}
                                   
                                </div>
                                <div class="form-group">
                                    <label >Image</label>
                                    {{form.image}}
                                   
                                </div>
                                <div class="form-group">
                                    <label >Content<small>(short)</small></label>
                                    {{form.few_line}}
                                   
                                </div>
                                
                               
                                <button type="submit" class="btn btn-info">Done</button>
                            </form>
                            </div>

                        </div>
                    </section>

            </div>
        </div>
    </div>





        <!-- page end-->
</section>

{% endblock %}