.center {
	display: flex;
	justify-content: center;
	margin: 40px 0;

}



.mx-auto {
	display: flex;
	justify-content: center;
	padding:20px 0;
	
}

.gallery-img{
	width: 30rem;
	height: 20rem;
}

@media(max-width: 400){
	.gallery-img{
		width:15rem;
		height:15rem;
	}
}

