.reason-background {
	background-color: #f8f9fa;
}


.custom-margin{
	margin:10px 0;
}


.banner-image img{
	border-radius: 50%;
	height: 30rem;
	width: 30rem;
}


.gallery {
	width:20rem;
	height: 15rem;
	margin-bottom: 1rem;
}



@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  .banner-image img{
  	border-radius: 50%;
  	height: 5rem;
  	width: 5rem;
  }
}


/*@media screen and (max-width: 400px) {
	.banner-image img{
		height:5rem;
		width:5rem;
	}
	.gallery {
		height:4rem;
		width:7rem;
	}
}

@media screen and (max-width: 600px) {
	.banner-image img {
		height: 7rem;
		width: 10rem;	}
	.gallery{
		height:10rem;
		width: 12rem;
	}
}

@media(max-width: 700px) {
	.banner-image img{
		height: 2rem;
		width: 2rem;
	}
}

@media (max-width: 800px) {
	.banner-image img{
		height:18rem;
		width:18rem;
	}
	.gallery{
		width:20rem;
		height:12rem;
	}
}

@media(max-width: 1024px) {
	.banner-image img{
		height:25rem;
		width:25rem;
	}
}

@media(max-width: 1200){
	.banner-image img{
		height: 27rem;
		width:27rem;
	}
}

@media(max-width: 1400px) {
	.image-banner img{
		height: 30rem;
		width: 30rem;
	}
}
*/
